{% load i18n admin_static %}
<style>
    #ui-timepicker {
        z-index: 1100;
    }
</style>

<div class="grp-row">
    <label>{% blocktrans with filter_title=title|title %} By {{ filter_title }} {% endblocktrans %}</label>

    {% with choices.0 as i %}
    <form method="GET" action="">
        {{ spec.form.media }}
        {{ spec.form.as_p }}
        <p class="submit-row">
            {#create hidden inputs to preserve values from other filters and search field#}
            {% for k, v in i.get_query.items %}
                <input type="hidden" name="{{ k }}" value="{{ v }}">
            {% endfor %}
            <input type="submit" value="{% trans "Search" %}">
            <input type="reset" value="{% trans "Clear" %}">
        </p>
    </form>
    {% endwith %}
</div>
